<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mairiya.JaxRsTest.dao.UsersMapper">

    <select id="selectUser" parameterType="int" resultMap="usersResultMap">
        SELECT * FROM users WHERE id = #{id}
    </select>
    <resultMap id="usersResultMap" type="com.mairiya.JaxRsTest.biz.domain.Users">
        <id property="id" column="id" />
        <result property="name" column="name" />
    </resultMap>
</mapper>